<footer class="footer">
    <span class="daily-counter" title="Besucher heute">
        <i class="fa fa-fw fa-clock-o" aria-hidden="true"></i>
        <%= visitorStats.dailyVisitors %>
    </span>

    <%- getFooterPun() %>

    <span class="overall-counter" title="Besucher gesamt">
         <%= visitorStats.overallVisitors %>
        <i class="fa fa-fw fa-calendar-o" aria-hidden="true"></i>
    </span>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://v4-alpha.getbootstrap.com/dist/js/bootstrap.min.js"></script>
<script src="/modules/swipejs/build/swipe.min.js"></script>

<%- include('partials/on-site-scripts') %>

</body>
</html>
