<footer class="footer">
    <span class="daily-counter" title="Tägliche Besucher">
        <i class="fa fa-fw fa-clock-o" aria-hidden="true"></i>
        <span id="dailyVisitors"><%= visitorStats.dailyVisitors %></span>
    </span>
    <a href="/about" class="footer-link">Crafted with <i class="fa heart fa-heart" aria-hidden="true"></i></a>
    <span class="overall-counter" title="Gesamt Besucher">
          <span id="overallVisitors"><%= visitorStats.overallVisitors %></span>
        <i class="fa fa-fw fa-calendar-o" aria-hidden="true"></i>
    </span>
</footer>

<script src="/dist/bundle.js"></script>

</body>
</html>
