<!--<div id="impressumHolder">
    <a href="https://www.felf.io/about.html" id="impressum" class="label label-dark label-pill">Impressum</a>
</div>-->
<div id="cookieConsentHolder"></div>
<footer class="footer">
    <span class="daily-counter" title="Besucher heute">
        <i class="fa fa-fw fa-clock-o" aria-hidden="true"></i>
        <span id="dailyVisitors"><%= visitorStats.dailyVisitors %></span>
    </span>

    <span class="footer-pun">
        <%- getFooterPun() %>
    </span>
    <a class="impressum-link" title="Impressum" href="https://www.felf.io/about.html">
        Impressum
        <i class="fa fa-fw fa-balance-scale" aria-hidden="true"></i>
    </a>
</footer>

<script src="/dist/bundle.js"></script>

</body>
</html>
