<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
    <meta name="HandheldFriendly" content="true" />

    <!-- Some meta-tags for social networks -->
    <meta property="og:url" content="https://food.felf.io">
    <meta property="og:title" content="felfio - AAUFood">
    <meta property="og:description" content="Essensauswahl leicht gemacht! food.felf.io hilft beim Vergleich der angebotenen Mittagsmenüs ausgewählter Restaurants rund um die Alpen-Adria-Universität Klagenfurt.">
    <meta property="og:image" content="https://food.felf.io/images/food.felfio-banner2-comp.png">
    <meta property="og:image:secure_url" content="https://food.felf.io/images/food.felfio-banner2-comp.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1684">
    <meta property="og:image:height" content="1191">

    <title><%= title ? title : "AAU Food" %></title>

    <link rel="icon" sizes="192x192" href="favicons/fav_192.png">
    <link rel="icon" sizes="194x194" href="favicons/fav_194.png">
    <link rel="icon" sizes="32x32" href="favicons/fav_32.png">

    <!--link href="https://v4-alpha.getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link href="/styles/app.css" rel="stylesheet"-->
    <link href="/dist/bundle.css" rel="stylesheet">
</head>
<body>
