<% day = day % 7 %>
<div class="weekday-container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 weekday">
            <h1><%= weekDayName(day) %></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <%- include('combined-menu-list', {restaurantName: 'Mensa', menu: mensa[day]}) %>
        </div>
        <div class="col-md-4">
            <%- include('menu-list', {restaurantName: 'Uniwirt', menu: uniwirt[day]}) %>
        </div>
        <div class="col-md-4">
            <%- include('menu-list', {restaurantName: 'Mittagstisch', menu: mittagstisch[day]}) %>
        </div>
    </div>
</div>