<div class="text-center error">
    <i class="fa fa-frown-o fa-2x info-icon" aria-hidden="true"></i>
    <br>
    <p>Leider konnten wir die Daten nicht abrufen.</p>
    <p>Sie sollten aber auf der
        <a href="<%= userFriendlyUrl(restaurant) %>" target="_blank">Homepage des Restaurants</a> stehen.
        <br>
    </p>
    <p>Wir kümmern uns bald darum!
        <i class="fa fa-smile-o fa-fw" aria-hidden="true"></i>
    </p>
</div>