<div class="info error">
    <i class="fa fa-frown fa-2x info-icon" aria-hidden="true"></i>
    <p>
        Leider konnten wir die Daten nicht abrufen.
    </p>
    <p>
        Sie sollten aber auf der
        <a href="<%= userFriendlyUrl(restaurant) %>" target="_blank">Homepage des Restaurants</a>
        stehen.
    </p>
    <p>
        Wir kümmern uns bald darum!
    </p>
</div>