<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>AAU-Food</title>
    <link href="https://v4-alpha.getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/styles/app.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
</head>
<body>
<div class="container">
    <div class="about">
        <div class="row">
            <div class="col-xs-4 col-xs-offset-4 back-icon-container">
                <a href="/">
                    <div class="card center-block">
                        <div class="card-block">
                            <i class="fa fa-cutlery fa-3x" aria-hidden="true"></i>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-xs-offset-4 back-icon-container">
                <div class="card center-block">
                    <div class="card-block">
                        <i class="fa fa-cog fa-3x fa-spin" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <br>

        </div>
        <div class="row">
            <div class="col-xs-12 text-xs-center">
                <h3>Under Construction</h3>
            </div>
        </div>
    </div>

</div>
<footer class="footer">
    <a href="/about" class="footer-link">Crafted with <i class="fa heart fa-heart" aria-hidden="true"></i></a>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://v4-alpha.getbootstrap.com/dist/js/bootstrap.min.js"></script>
</body>
</html>
