<% var title = 'AAU Food: About'; %>
<% include partials/header.ejs %>

<div class="container">
    <div class="about">
        <div class="row">
            <div class="col-xs-4 col-xs-offset-4 back-icon-container">
                <a href="/">
                    <div class="card center-block">
                        <div class="card-block">
                            <i class="fa fa-cutlery fa-3x" aria-hidden="true"></i>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-xs-offset-4 back-icon-container">
                <div class="card center-block">
                    <div class="card-block">
                        <i class="fa fa-cog fa-3x fa-spin" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <br>

        </div>
        <div class="row">
            <div class="col-xs-12 text-xs-center">
                <h3>Under Construction</h3>
            </div>
        </div>
    </div>
</div>

<% include partials/footer.ejs %>