<% var title = 'AAU Food'; %>
<% include partials/header.ejs %>

<div class="nav-icons-center">
        <span class="nav-icon left center">
             <i class="fa fa-angle-left" aria-hidden="true"></i>
        </span>
        <span class="nav-icon right center">
             <i class="fa fa-angle-right" aria-hidden="true"></i>
        </span>
</div>

<div class="container-fluid menu-container">
    <div id='slider' class='swipe'>
        <div class='swipe-wrap'>
            <% for(var d = 0; d < 7; d++) { %>
            <%- include('partials/cityfood-weekday-menu', {day: d}) %>
            <% } %>
        </div>
    </div>
</div>


<% include partials/footer.ejs %>
