<% var title = 'AAU Food'; %>
<% include partials/header.ejs %>

<div class="container">
    <div id='slider' class='swipe'>
        <div class='swipe-wrap'>
            <% for(var d = 0; d < 7; d++) { %>
            <%- include('partials/weekday-menu', {day: d}) %>
            <% } %>
        </div>
    </div>
</div>


<% include partials/footer.ejs %>

