<!-- Parameters: menu -->

<% menu.mains.forEach((singleMenu, index) => { %>
    <span class="menu-title">
        <%= singleMenu.name %>
    </span>
    <% if(singleMenu.price && !singleMenu.isInfo) { %>
        <div class="price-tag">
                <%= main.price + " €" %>
        </div>
    <% } %>
    <ul class="list-group menu-list-group">
        <% singleMenu.entries.forEach(function(menuItem){ %>
            <li class="list-group-item">
                <%= menuItem %>
            </li>
        <% }); %>
    </ul>
<% }); %>
