<!-- Parameters: menu -->

<ul class="list-group combined-menu-list-group">
    <% menu.mains.forEach((singleMenu, index) => { %>
        <li class="menu-title">
            <%= singleMenu.name %>

            <% if(singleMenu.price && !singleMenu.isInfo) { %>
                <div class="price-tag">
                        <%= singleMenu.price + " €" %>
                </div>
            <% } %>
        </li>

        <% singleMenu.entries.forEach(function(menuItem){ %>
            <li class="list-group-item">
                <%= menuItem.name %>
                <% if(menuItem.allergens) { %> 
                    <span class="allergens"><%= menuItem.allergens %></span>
                <% } %>
            </li>
        <% }); %>
    <% }); %>
</ul>
