@import 'bootstrap';
@import 'spinner';
@import 'about';

/*Colors and definitions*/
$mittagstischGreen: #5fb127;
$mensaOrange: #f49900;
$uniwirtPurple: #800768;

/*General definitions*/
body {
  background-image: url("/tileable_wood_texture.png");
}

.center-block {
  margin-left: auto;
  margin-right: auto;
}

.container {
  padding-top: 1em;
}

#navbar.bg-inverse {
  background: hsla(204, 4%, 13%, 1);
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.menu-list, .combined-menu-list {
  &.card {
    border: none;

    .card-header {
      margin-bottom: 0;
    }
  }

  .menu-list-group {
    &:not(:last-child) {
      margin-bottom: 0.75rem;
    }

    .list-group-item {
      background: none;
      padding-top: 0;
      padding-bottom: 0.25rem;
      border: none;
    }

    .price-pill {
      margin-right: -20px;
      margin-top: 0.125rem;
    }
  }
}

.combined-menu-list {
  .price-pill {
    margin-top: 0.125rem;
  }
}

/*Restaurant-specific*/
@mixin restaurantColors($bgColor, $fontColor) {
  .card-header, .price-pill {
    background: $bgColor;
    color: $fontColor;
  }

  .sk-folding-cube .sk-cube:before {
    background-color: $bgColor;
  }
}

.mittagstisch {
  @include restaurantColors($mittagstischGreen, white);
}

.mensa {
  @include restaurantColors($mensaOrange, white);
}

.uniwirt {
  @include restaurantColors($uniwirtPurple, white);
}

/*Footer*/
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 2rem;
  line-height: 2rem; /* Vertically center the text there */
  background-color: #202122;
  color: #eceeef;
  text-align: center;

  .footer-link {
    color: #eceeef;

    &:hover {
      text-decoration: none;
    }

    .heart {
      vertical-align: middle;
      font-size: 1.25em;
      color: #DF0101;
    }
  }
}
