<div class="text-center">
    <i class="fa fa-calendar-times-o fa-2x info-icon" aria-hidden="true"></i>
    <br> Das Lokal hat das aktuelle Wochenmenü zurzeit nicht auf seiner
    <a href="<%= userFriendlyUrl(restaurant) %>" target="_blank">Homepage</a>
    veröffentlicht.
</div>