<div class="row">
    <div class="col-md-4">
      {{#combined-menu-list "mensa"}}
          <h3 class="card-header">Mensa</h3>
      {{/combined-menu-list}}
    </div>
  
    <div class="col-md-4">
      {{#menu-list "uniwirt"}}
          <h3 class="card-header">Uniwirt</h3>
      {{/menu-list}}
    </div>
    <div class="col-md-4">
      {{#menu-list "mittagstisch"}}
          <h3 class="card-header">Mittagstisch</h3>
      {{/menu-list}}
    </div>
</div>
{{outlet}}
