<div class="row">
    <div class="col-md-6 col-xs-12">
      {{menu-list "uniwirt" "Uniwirt"}}
    </div>
    <div class="col-md-6 col-xs-12">
      {{menu-list "mittagstisch" "Mittagstisch"}}
    </div>
</div>