<div class="info">
    <i class="fa fa-calendar-times fa-2x info-icon" aria-hidden="true"></i>

    <p>
        Das Lokal hat das aktuelle Wochenmenü zurzeit nicht auf seiner
        <a href="<%= userFriendlyUrl(restaurant) %>" target="_blank">Homepage</a>
        veröffentlicht.
    </p>
</div>