<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
    <meta name="HandheldFriendly" content="true" />

    <!-- Some meta-tags for facebook (open graph thing) -->
    <meta property="og:url" content="https://food.felf.io">
    <meta property="og:title" content="felfio - AAUFood">
    <meta property="og:description" content="Essensauswahl leicht gemacht! food.felf.io hilft beim Vergleich der angebotenen Mittagsmenüs ausgewählter Restaurants rund um die Alpen-Adria-Universität Klagenfurt.">
    <meta property="og:image" content="https://food.felf.io/images/food.felfio-banner2.png">
    <meta property="og:image:secure_url" content="https://food.felf.io/images/food.felfio-banner2.png">
    <meta property="og:image:type" content="image/png">

    <!-- Some more meta-tags for twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="felfio - AAUFood">
    <meta name="twitter:image" content="https://food.felf.io/images/food.felfio-banner2.png">
    <meta name="twitter:description" content="Essensauswahl leicht gemacht! food.felf.io hilft beim Vergleich der angebotenen Mittagsmenüs ausgewählter Restaurants rund um die Alpen-Adria-Universität Klagenfurt.">

    <title><%= title ? title : "AAU Food" %></title>

    <link rel="icon" sizes="192x192" href="favicons/fav_192.png">
    <link rel="icon" sizes="194x194" href="favicons/fav_194.png">
    <link rel="icon" sizes="32x32" href="favicons/fav_32.png">

    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.2.0/css/solid.css" integrity="sha384-B/E/KxBX31kY/5sew+X4c8e6ErosbqOOsA3t4k6VVmx8Hrz//v0tEUtXmUVx9X6Q" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.2.0/css/brands.css" integrity="sha384-Ei2oxwH0wpwmp7KPdhYnajC5fWDdMENOjDw9OfzWvcFcOGn0Egy+L5AAculaqBbD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.2.0/css/fontawesome.css" integrity="sha384-4eP+1rYQmuI3hxrmyE+GT/EIiNbF4R85ciN3jMpmIh+bU5Hz2IU7AdcVe+JS+AJz" crossorigin="anonymous">
    <link href="/dist/bundle.css" rel="stylesheet">
</head>
<body>

<% if(isWinterThemeEnabled()) { %>
    <canvas id="snowCanvas"></canvas>
<% } %>
