/*about.scss*/
.about {
  .back-icon-container {
    text-align: center;

    .card {
      border-radius: 50%;
      width: 5.2rem;
      height: 5.2rem;
      color: #373a3c;
      &:hover {
        text-decoration: none;
      }
    }
  }

  .back-icon-container .card-block {
    padding-top: 1.1rem;
  }
}
