/*about.scss*/
$card-header-bg: rgba(0, 0, 0, 0.7);

.about {
  padding-top: 0.8rem;

  padding-left: .9375rem;
  padding-right: .9375rem;

  .card {
    border: none;
  }

  .about-us {
    background: none;

    .card-body {
      background: white;
      padding-top: 0.5rem;
    }

    .card-header {
      margin-bottom: 0;
      color: white;
      background: $card-header-bg;
    }
  }

  .back-icon-container {
    text-align: center;

    .card {
      border-radius: 50%;
      width: 5.2rem;
      height: 5.2rem;
      color: #373a3c;
      &:hover {
        text-decoration: none;
      }
    }
  }

  .back-icon-container .card-body {
    padding-top: 1.1rem;
  }
}

.cat-fact-header {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.cat-fact-header img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.cat-fact-header img.portrait {
  width: 100%;
  height: auto;
}

.sponsor-images {
  text-align: center;

  img {
    max-height: 6em;
  }
}

@mixin name($color) {
  &.a {
    color: inherit;
  }

  color: $color;
  font-weight: bold;
}

#kristina {
  @include name(darkorange);
}

#fabian {
  @include name(#09B22E);
}

#markus {
  @include name(#4B09B2);
}

#benjamin {
  @include name(#D61800);
}

#philipp {
  @include name(#3f77d8);
}

.nowrap {
  white-space: nowrap;
}

#mail {
  font-weight: bold;
}

.flex-1 {
  flex:1;
}
