@import '~bootstrap/scss/bootstrap.scss';
@import '~font-awesome/css/font-awesome.css';
@import 'spinner.scss';
@import 'about.scss';
/*@import 'ribbons.scss';*/

//Switches
$winterTheme: false;
$winterTextColor: #f5f5f5;

/*Colors and definitions*/
$mittagstischGreen: #5fb127;
$mensaOrange: #f49900;
$uniwirtPurple: #800768;
$uniPizzeriaBg: #2336B1;
$laPastaBg: #ca0928;
$navIconMargin: 3rem;
$navIconMarginInwards: 1rem;
$outerPadding: 0.9375rem;
$footerHeight: 2rem;
$footerColor: if($winterTheme, rgba(0, 0, 0, 0.8), #202122);
/*General definitions*/
body {
  background-image: if($winterTheme, url("../images/winter_planks_512.jpg"), url("../images/tileable_wood_texture.jpg"));
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container-fluid.menu-container {
  @media (min-width: 62em) {
    max-width: 85vw;
    margin-left: 7vw;
    margin-right: 7vw;
    min-height: 100%;
    margin-bottom: $footerHeight;
  }
}

.center-block {
  margin-left: auto;
  margin-right: auto;
}

#navbar.bg-inverse {
  background: hsla(204, 4%, 13%, 1);
}

.on-break {
  text-align: center;
}

.break-date {
  font-weight: bold;
}

.break-text {
  margin-bottom: 8px;

  &:empty {
    display: none;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  .card-block {
    .error p {
      margin-bottom: 0.25rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.menu-list, .combined-menu-list {
  &.card {
    border: none;

    .card-header {
      margin-bottom: 0;
      border-bottom: 0;
    }
  }

  .menu-list-group {
    &:not(:last-child) {
      margin-bottom: 0.75rem;
    }

    .list-group-item {
      background: none;
      padding-top: 0;
      padding-bottom: 0;
      padding-right: 0;
      border: none;
    }

    .price-pill {
      margin-right: -20px;
      margin-top: 0.125rem;
      margin-left: 0.5rem;
    }
  }
}

.combined-menu-list {
  .menu-list-group {
    .list-group-item:not(:last-child) {
      padding-bottom: 0.25rem;
    }
  }
  .price-pill {
    margin-top: 0.125rem;
    margin-left: 0.5rem;
  }
}

.menu-list {
  .menu-list-group.starters {
    &:empty {
      display: none;
    }

    .list-group-item:not(:last-child) {
      padding-bottom: 0.25rem;
    }

    .list-group-item {
      padding-left: 0;
    }
  }

  .menu-list-group.mains {
    .list-group-item:not(:last-child) {
      padding-bottom: 0.5rem;
    }
  }
}

/*Restaurant-specific*/
@mixin restaurantColors($bgColor, $fontColor) {
  .card-header, .price-pill {
    background: $bgColor;
    color: $fontColor;
  }

  .sk-folding-cube .sk-cube:before {
    background-color: $bgColor;
  }

  .link-icon {
    color: transparentize($fontColor, 0.25);

    &:hover {
      color: transparentize($fontColor, 0);
    }
  }
}

.mittagstisch {
  @include restaurantColors($mittagstischGreen, white);
}

.mensa {
  @include restaurantColors($mensaOrange, white);
}

.uniwirt {
  @include restaurantColors($uniwirtPurple, white);
}

.uni-pizzeria {
  @include restaurantColors($uniPizzeriaBg, white);
}

.la-pasta {
  @include restaurantColors($laPastaBg, white);
}

@mixin footerIcon($color) {
  vertical-align: middle;
  font-size: 1.25em;
  color: $color;
}

/*Footer*/
.footer {
  z-index: 9500;
  position: relative;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: $footerHeight;
  line-height: $footerHeight; /* Vertically center the text there */
  background-color: $footerColor;
  color: #eceeef;
  text-align: center;

  a {
    color: #eceeef;

    &:hover {
      text-decoration: none;
    }
  }

  @mixin footer-border-element($left) {
    position: absolute;
    @if ($winterTheme == false) {
      background: $footerColor;
    }
    z-index: 9600;

    @if ($left) {
      left: 0;
      margin-left: $outerPadding;
      padding-right: 0.5em;
    } @else {
      right: 0;
      margin-right: $outerPadding;
      padding-left: 0.5em;
    }
  }

  .daily-counter {
    @include footer-border-element(true);
  }

  .sitemap {
    @include footer-border-element(false);
  }

  .impressum-link {
    @include footer-border-element(false);

    @media (max-width: 30em) {
      i.fa {
        display: none;
      }
    }
  }

  .footer-pun {
    z-index: 9550;
  }

  .fa-heart {
    @include footerIcon(#DF0101);
  }

  .fa-empire {
    @include footerIcon(#A00000);
  }

  .fa-rebel {
    @include footerIcon(#F1592A);
  }

  .fa-star {
    @include footerIcon(gold);
  }
  .fa-space-shuttle {
    @include footerIcon(#0093ff);
  }

  .fa-hand-lizard-o {
    @include footerIcon(#377F31);
  }
  .fa-hand-paper-o {
    @include footerIcon(#FFE4C4);
  }
  .fa-snowflake-o {
    @include footerIcon(#0093ff);
  }
}

#impressum-linkHolder {
  width: 100%;
  text-align: center;

  #impressum-link {
    background: transparentize($footerColor, 0.25);
  }
}

html, body {
  height: calc(100% - 2rem);
}

.container {
  min-height: 100%;
  margin-bottom: $footerHeight;
  padding-left: 0;
  padding-right: 0;
}

/* Swipe */
.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}

.swipe-wrap {
  overflow: hidden;
  position: relative;
}

.swipe-wrap > div {
  float: left;
  width: 100%;
  position: relative;
}

/* Weekday and Navigation*/
.weekday-container {
  padding-left: .9375rem;
  padding-right: .9375rem;

  .weekday-header {
    text-align: center;

    .weekday {
      font-weight: 500;
      font-size: 2.5rem;
    }
  }
}

.info-icon {
  margin-bottom: 0.75rem;
}

.nav-icon {
  font-weight: bold;
  cursor: pointer;

  &.disabled {
    cursor: default;
    color: rgba(0, 0, 0, 0.1);
  }

  // Small devices (landscape phones, less than 48em)
  @media (max-width: 61.9em) {
    &.center {
      display: none;
    }

    &.right {
      margin-right: -$outerPadding;
      padding-right: $outerPadding;
      margin-left: -$navIconMarginInwards;
      padding-left: $navIconMarginInwards;
      float: right;
    }

    &.left {
      margin-left: -$outerPadding;
      padding-left: $outerPadding;
      margin-right: -$navIconMarginInwards;
      padding-right: $navIconMarginInwards;
      float: left;
    }
  }

  // Medium devices (tablets, 48em and up)
  @media (min-width: 62em) {
    z-index: 5000;
    position: fixed;
    top: 40vh;
    font-size: 5rem;

    &.top {
      display: none;
    }

    &.right {
      right: $navIconMargin;
      margin-right: -$navIconMargin;
      padding-right: $navIconMargin;
      margin-left: -$navIconMarginInwards;
      padding-left: $navIconMarginInwards;
    }

    &.left {
      left: $navIconMargin;
      margin-left: -$navIconMargin;
      padding-left: $navIconMargin;
      margin-right: -$navIconMarginInwards;
      padding-right: $navIconMarginInwards;
    }

  }
}

.cc_banner.cc_container.cc_container--open {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

//Theme only settings
#snowCanvas {
  display: if($winterTheme, inherit, none);
  position: absolute;
}

@if ($winterTheme) {
  .weekday {
    color: $winterTextColor;
    padding: 10px 25px 5px 25px;
    background: rgba(0, 0, 0, 0.7);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .nav-icon {
    color: $winterTextColor;
  }
}
