@import '~bootstrap/dist/css/bootstrap.css';
@import '~font-awesome/css/font-awesome.css';
@import 'spinner.scss';
@import 'about.scss';

/*Colors and definitions*/
$mittagstischGreen: #5fb127;
$mensaOrange: #f49900;
$uniwirtPurple: #800768;
$navIconMargin: 3rem;
$navIconMarginInwards: 1rem;
$outerPadding: 0.9375rem;

/*General definitions*/
body {
  background-image: url("tileable_wood_texture.png");
}

.center-block {
  margin-left: auto;
  margin-right: auto;
}

#navbar.bg-inverse {
  background: hsla(204, 4%, 13%, 1);
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  .card-block {
    .error p {
      margin-bottom: 0.25rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.menu-list, .combined-menu-list {
  &.card {
    border: none;

    .card-header {
      margin-bottom: 0;
    }
  }

  .menu-list-group {
    &:not(:last-child) {
      margin-bottom: 0.75rem;
    }

    .list-group-item {
      background: none;
      padding-top: 0;
      padding-bottom: 0rem;
      border: none;
    }

    .price-pill {
      margin-right: -20px;
      margin-top: 0.125rem;
    }
  }
}

.combined-menu-list {
  .menu-list-group {
    .list-group-item:not(:last-child) {
      padding-bottom: 0.25rem;
    }
  }
  .price-pill {
    margin-top: 0.125rem;
  }
}

.menu-list {
  .menu-list-group.starters {
    .list-group-item:not(:last-child) {
      padding-bottom: 0.25rem;
    }
  }

  .menu-list-group.mains {
    .list-group-item:not(:last-child) {
      padding-bottom: 0.5rem;
    }
  }
}

/*Restaurant-specific*/
@mixin restaurantColors($bgColor, $fontColor) {
  .card-header, .price-pill {
    background: $bgColor;
    color: $fontColor;
  }

  .sk-folding-cube .sk-cube:before {
    background-color: $bgColor;
  }
}

.mittagstisch {
  @include restaurantColors($mittagstischGreen, white);
}

.mensa {
  @include restaurantColors($mensaOrange, white);
}

.uniwirt {
  @include restaurantColors($uniwirtPurple, white);
}

@mixin footerIcon($color) {
  vertical-align: middle;
  font-size: 1.25em;
  color: $color;
}

/*Footer*/
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 2rem;
  line-height: 2rem; /* Vertically center the text there */
  background-color: #202122;
  color: #eceeef;
  text-align: center;

  a {
    color: #eceeef;

    &:hover {
      text-decoration: none;
    }
  }

  .daily-counter {
    float: left;
    margin-left: $outerPadding;
  }

  .overall-counter {
    float: right;
    margin-right: $outerPadding;
  }

  .fa-heart {
    @include footerIcon(#DF0101);
  }

  .fa-empire {
    @include footerIcon(#A00000);
  }

  .fa-rebel {
    @include footerIcon(#F1592A);
  }

  .fa-star {
    @include footerIcon(gold);
  }
}

html, body {
  height: calc(100% - 2rem);
}

.container {
  min-height: 100%;
  margin-bottom: 2rem;
  padding-left: 0;
  padding-right: 0;
}

/* Swipe */
.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}

.swipe-wrap {
  overflow: hidden;
  position: relative;
}

.swipe-wrap > div {
  float: left;
  width: 100%;
  position: relative;
}

/* Weekday and Navigation*/
.weekday-container {
  padding-left: .9375rem;
  padding-right: .9375rem;

  .weekday-header {
    text-align: center;

    .weekday {
      font-weight: 500;
      font-size: 2.5rem;
    }
  }
}

.nav-icon {
  font-weight: bold;
  cursor: pointer;

  // Small devices (landscape phones, less than 48em)
  @media (max-width: 47.9em) {
    &.center {
      display: none;
    }

    &.right {
      margin-right: -$outerPadding;
      padding-right: $outerPadding;
      margin-left: -$navIconMarginInwards;
      padding-left: $navIconMarginInwards;
    }

    &.left {
      margin-left: -$outerPadding;
      padding-left: $outerPadding;
      margin-right: -$navIconMarginInwards;
      padding-right: $navIconMarginInwards;
    }
  }

  // Medium devices (tablets, 48em and up)
  @media (min-width: 48em) {
    z-index: 5000;
    position: fixed;
    top: 40vh;
    font-size: 5rem;

    &.top {
      display: none;
    }

    &.right {
      right: $navIconMargin;
      margin-right: -$navIconMargin;
      padding-right: $navIconMargin;
      margin-left: -$navIconMarginInwards;
      padding-left: $navIconMarginInwards;
    }

    &.left {
      left: $navIconMargin;
      margin-left: -$navIconMargin;
      padding-left: $navIconMargin;
      margin-right: -$navIconMarginInwards;
      padding-right: $navIconMarginInwards;
    }
  }
}