/*spinner.scss*/
.sk-folding-cube {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg); }

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1); }

.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
  animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%; }

.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
  transform: scale(1.1) rotateZ(90deg); }

.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
  transform: scale(1.1) rotateZ(180deg); }

.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
  transform: scale(1.1) rotateZ(270deg); }

.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }

.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s; }

.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s; }

@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0; }
  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1; }
  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0; } }
@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0; }
  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1; }
  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0; } }
/*about.scss*/
.about .back-icon-container {
  text-align: center; }
  .about .back-icon-container .card {
    border-radius: 50%;
    width: 5.2rem;
    height: 5.2rem;
    color: #373a3c; }
    .about .back-icon-container .card:hover {
      text-decoration: none; }
.about .back-icon-container .card-block {
  padding-top: 1.1rem; }

/*Colors and definitions*/
/*General definitions*/
body {
  background-image: url("tileable_wood_texture.png"); }

.center-block {
  margin-left: auto;
  margin-right: auto; }

#navbar.bg-inverse {
  background: #202122; }

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.menu-list.card, .combined-menu-list.card {
  border: none; }
  .menu-list.card .card-header, .combined-menu-list.card .card-header {
    margin-bottom: 0; }
.menu-list .menu-list-group:not(:last-child), .combined-menu-list .menu-list-group:not(:last-child) {
  margin-bottom: 0.75rem; }
.menu-list .menu-list-group .list-group-item, .combined-menu-list .menu-list-group .list-group-item {
  background: none;
  padding-top: 0;
  padding-bottom: 0rem;
  border: none; }
.menu-list .menu-list-group .price-pill, .combined-menu-list .menu-list-group .price-pill {
  margin-right: -20px;
  margin-top: 0.125rem; }

.combined-menu-list .menu-list-group .list-group-item:not(:last-child) {
  padding-bottom: 0.25rem; }
.combined-menu-list .price-pill {
  margin-top: 0.125rem; }

.menu-list .menu-list-group.starters .list-group-item:not(:last-child) {
  padding-bottom: 0.25rem; }
.menu-list .menu-list-group.mains .list-group-item:not(:last-child) {
  padding-bottom: 0.5rem; }

/*Restaurant-specific*/
.mittagstisch .card-header, .mittagstisch .price-pill {
  background: #5fb127;
  color: white; }
.mittagstisch .sk-folding-cube .sk-cube:before {
  background-color: #5fb127; }

.mensa .card-header, .mensa .price-pill {
  background: #f49900;
  color: white; }
.mensa .sk-folding-cube .sk-cube:before {
  background-color: #f49900; }

.uniwirt .card-header, .uniwirt .price-pill {
  background: #800768;
  color: white; }
.uniwirt .sk-folding-cube .sk-cube:before {
  background-color: #800768; }

/*Footer*/
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 2rem;
  line-height: 2rem;
  /* Vertically center the text there */
  background-color: #202122;
  color: #eceeef;
  text-align: center; }
  .footer a {
    color: #eceeef; }
    .footer a:hover {
      text-decoration: none; }
  .footer .daily-counter {
    float: left;
    margin-left: 0.9375rem; }
  .footer .overall-counter {
    float: right;
    margin-right: 0.9375rem; }
  .footer .fa-heart {
    vertical-align: middle;
    font-size: 1.25em;
    color: #DF0101; }
  .footer .fa-empire {
    vertical-align: middle;
    font-size: 1.25em;
    color: #A00000; }
  .footer .fa-rebel {
    vertical-align: middle;
    font-size: 1.25em;
    color: #F1592A; }
  .footer .fa-star {
    vertical-align: middle;
    font-size: 1.25em;
    color: gold; }

html, body {
  height: calc(100% - 2rem); }

.container {
  min-height: 100%;
  margin-bottom: 2rem;
  padding-left: 0;
  padding-right: 0; }

/* Swipe */
.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative; }

.swipe-wrap {
  overflow: hidden;
  position: relative; }

.swipe-wrap > div {
  float: left;
  width: 100%;
  position: relative; }

/* Weekday and Navigation*/
.weekday-container {
  padding-left: .9375rem;
  padding-right: .9375rem; }
  .weekday-container .weekday-header {
    text-align: center; }
    .weekday-container .weekday-header .weekday {
      font-weight: 500;
      font-size: 2.5rem; }

.nav-icon {
  font-weight: bold;
  cursor: pointer; }
  @media (max-width: 47.9em) {
    .nav-icon.center {
      display: none; }
    .nav-icon.right {
      margin-right: -0.9375rem;
      padding-right: 0.9375rem;
      margin-left: -1rem;
      padding-left: 1rem; }
    .nav-icon.left {
      margin-left: -0.9375rem;
      padding-left: 0.9375rem;
      margin-right: -1rem;
      padding-right: 1rem; } }
  @media (min-width: 48em) {
    .nav-icon {
      z-index: 5000;
      position: fixed;
      top: 40vh;
      font-size: 5rem; }
      .nav-icon.top {
        display: none; }
      .nav-icon.right {
        right: 3rem;
        margin-right: -3rem;
        padding-right: 3rem;
        margin-left: -1rem;
        padding-left: 1rem; }
      .nav-icon.left {
        left: 3rem;
        margin-left: -3rem;
        padding-left: 3rem;
        margin-right: -1rem;
        padding-right: 1rem; } }

/*# sourceMappingURL=app.css.map */
