<footer id="footer" class="footer">
    <div id="cookieConsentHolder"></div>

    <div class="daily-counter" title="Besucher heute">
        <i class="fa fa-fw fa-clock" aria-hidden="true"></i>
        <span id="dailyVisitors">
            <%= visitorStats.dailyVisitors %>
        </span>
    </div>

    <div class="footer-pun">
        <%- getFooterPun() %>
    </div>

    <div class="dropdown sitemap">
        <button type="button" class="btn btn-outline-secondary btn-sm dropdown-toggle" data-bs-toggle="dropdown"
            aria-expanded="false">
            <span class="hidden-sm-down">Sitemap</span>
            <i class="fa fa-map-signs"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="/about"><i class="fa fa-fw fa-users" aria-hidden="true"></i> Über AAUFood</a>
            <a class="dropdown-item" href="/print"><i class="fa fa-fw fa-print" aria-hidden="true"></i> Wochensicht</a>
        </div>
    </div>
</footer>

<script src="/dist/bundle.js"></script>

</body>

</html>