/*Colors and definitions*/
$hotspotGreen: #5fb127;
$mensaOrange: #f49900;
$uniwirtPurple: #800768;
$uniPizzeriaBg: #2336b1;
$laPastaBg: #ca0928;
$princsBg: #e30613;
$villalidoBg: #c50023;

$infoIconColor: #444;
$allergensColor: #c0c0c0;
$darkEmboss: 1.5px 1.5px 0px #222;

$navIconMargin: 16px;
$navIconMarginInwards: 16px;
$outerPadding: 15px;

$menuSpacing: 14px;
$menuItemSpacing: 4px;

$footerHeight: 32px;
$footerColor: rgba(0, 0, 0, 0.75);
$footerFontColor: #eceeef;

//$headingFont: $font-family-sans-serif;
$raleway: 'Raleway', sans-serif;
$headingFont: $raleway;
